/.Build/
/vendor/
/composer.lock
/node_modules/
/site/
/.php-cs-fixer.cache
/.phpunit.result.cache
/var/
/Tests/Acceptance/_output/
.DS_Store
.idea/
.vscode/
*.log

# Interne Geschaeftsunterlagen, nicht Teil der oeffentlichen Extension
/Documentation/Intern/

# EU-Icons: die Originaldateien der Kommission werden pro Installation
# heruntergeladen (siehe Resources/Public/Icons/Eu/README.md) und liegen
# bewusst nicht im Repository.
/Resources/Public/Icons/Eu/*.svg
