* text=auto eol=lf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary

# Nicht Teil des Distributionspakets
/.github export-ignore
/Build export-ignore
/Tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CLAUDE.md export-ignore
