<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:spaceless>
    <f:if condition="{imageMarkup}">
        <f:then>
            <span class="nt-aimark__frame">{imageMarkup -> f:format.raw()}<f:render section="Badge" arguments="{_all}" /></span>
        </f:then>
        <f:else>
            <f:render section="Badge" arguments="{_all}" />
        </f:else>
    </f:if>

    <f:if condition="{showDetails}">
        <button type="button"
                class="nt-aimark__toggle"
                aria-expanded="false"
                aria-controls="{detailId}"><f:translate key="LLL:EXT:nt_aimark/Resources/Private/Language/locallang.xlf:detail.toggle" /></button>
        <div id="{detailId}" class="nt-aimark__detail" hidden="hidden">
            <dl class="nt-aimark__detail-list">
                <f:for each="{detailRows}" as="row">
                    <dt><f:translate key="{row.labelKey}" /></dt>
                    <dd>
                        <f:if condition="{row.type} == 'date'">
                            <f:then><f:format.date format="d.m.Y">@{row.value}</f:format.date></f:then>
                            <f:else>{row.value}</f:else>
                        </f:if>
                    </dd>
                </f:for>
            </dl>
        </div>
    </f:if>
</f:spaceless>

<f:section name="Badge">
    <span class="nt-aimark__badge nt-aimark__badge--{position} nt-aimark__badge--{size} nt-aimark__badge--{variant} nt-aimark__badge--{contrast} nt-aimark__badge--icon-{iconColour}"
          data-ai-variant="{variant}">
        <f:if condition="{icon}">
            <f:then>
                <span class="nt-aimark__badge-icon" role="img" aria-label="{f:translate(key: ariaLabelKey)}">{icon -> f:format.raw()}</span>
            </f:then>
            <f:else>
                <span class="nt-aimark__badge-fallback"><f:translate key="{fallbackTextKey}" /></span>
            </f:else>
        </f:if>
        <f:if condition="{labelText}">
            <span class="nt-aimark__badge-text">{labelText}</span>
        </f:if>
    </span>
</f:section>

</html>
